@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Poppins:wght@300;400&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 50px;
    padding-top: 15px;
}

img {
    width: 100px;
}

#welcomediv {
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/groove-bg%5B1%5D.png);
    background-size: 100% 100%;
}

.container {
    height: 600px;
    padding-top: 5%;
}

h1 {
    font-size: 40px;
    margin-top: 150px;
}

p {
    font-size: 20px;
}

button {
    background-color: #35C555;
    padding: 20px;
    color: white;
    font-size: medium;
    border: none;
    cursor: pointer;
    width: 200px;
}

h2 {
    font-size: 32px;
}

a {
    color: none;
    text-decoration: none;
}

table{
    margin: auto;
}

table,td,th,tr{
    border: 2px solid lightgrey;
    padding: 20px;
    border-collapse: collapse;
}

thead{
    color: white;
    background-color: #35C555;
}

.hover:hover{
    background-color: lightgray;
}

#quantity{
    width:40px;
}

footer{
    background-color: black;
color: white;
font-family: 'Poppins', sans-serif;

padding: 20px;
}

a{

color: white;
}
.phone{
    padding: 40px 40px 40px;
    background-color: white;
}
#thanks-text{
    display: none;
}
